src/ORM4Qt/x64/*
.vs/ 
src/ORM4Qt/ORM4Qt.vcxproj.user 
src/ORM4Qt/ORM4Qt.vcxproj.filters
x64/Debug/ORM4Qt.dll
x64/Debug/ORM4Qt.exp
x64/Debug/ORM4Qt.ilk
x64/Debug/ORM4Qt.lib
x64/Debug/ORM4Qt.pdb
*.filters
*.user 
*.obj
*.tlog
*.log
test/ORM_MainTestQtConsole/x64/Debug/ORM_MainTestQtConsole.exe.recipe
test/ORM_MainTestQtConsole/x64/Debug/qmake/qtvars_x64_Debug.props
test/ORM_MainTestQtConsole/x64/Debug/qmake/temp/.qmake.stash
test/ORM_MainTestQtConsole/x64/Debug/qmake/temp/moc_predefs.h.cbt
test/ORM_MainTestQtConsole/x64/Debug/qmake/temp/props.txt
test/ORM_MainTestQtConsole/x64/Debug/qmake/temp/qtvars.pro
test/ORM_MainTestQtConsole/x64/Debug/qmake/temp/qtvars.vcxproj
test/ORM_MainTestQtConsole/x64/Debug/qmake/temp/qtvars_x64_Debug.props
test/ORM_MainTestQtConsole/x64/Debug/qt.natvis
test/ORM_MainTestQtConsole/x64/Debug/vc142.pdb
test/ORM_Model/x64/Debug/vc142.pdb
test/ORM_Model/x64/Debug/qt.natvis
test/ORM_Model/x64/Debug/qmake/temp/qtvars_x64_Debug.props
test/ORM_Model/x64/Debug/qmake/temp/qtvars.vcxproj
test/ORM_Model/x64/Debug/qmake/temp/qtvars.pro
test/ORM_Model/x64/Debug/qmake/temp/props.txt
test/ORM_Model/x64/Debug/qmake/temp/moc_predefs.h.cbt
test/ORM_Model/x64/Debug/qmake/temp/.qmake.stash
test/ORM_Model/x64/Debug/qmake/qtvars_x64_Debug.props
test/ORM_Model/x64/Debug/ORM_Model.dll.recipe
test/ORM_Model/x64/Debug/moc/moc_ORM_Model.cpp
test/ORM4Qt_GTest/x64/Debug/ORM4Qt_GTest.exe.recipe
test/ORM4Qt_GTest/x64/Debug/ORM4Qt_GTest.pch
test/ORM4Qt_GTest/x64/Debug/ORM4Qt_GTest.vcxproj.CopyComplete
test/ORM4Qt_GTest/x64/Debug/ORM4Qt_GTest.vcxproj.FileListAbsolute.txt
test/ORM4Qt_GTest/x64/Debug/vc142.pdb
test/ORM_Model/x64/Debug/ORM_Model.vcxproj.FileListAbsolute.txt
x64/Debug/gtest.pdb
x64/Debug/gtest_main.pdb
x64/Debug/ORM4Qt_GTest.exe
x64/Debug/ORM4Qt_GTest.exe.gta.testdurations
x64/Debug/ORM4Qt_GTest.ilk
x64/Debug/ORM4Qt_GTest.pdb
x64/Debug/ORM_Model.dll
x64/Debug/ORM_Model.ilk
x64/Debug/ORM_Model.pdb
x64/Debug/ORM_Model.dll
x64/Debug/ORM_Model.ilk
x64/Debug/ORM_Model.pdb
