src/ORM4Qt/x64/
.vs/
*.filters
*.user 
*.obj
*.tlog
*.log
test/ORM_MainTestQtConsole/x64/Debug/
test/ORM_Model/x64/Debug/
test/ORM4Qt_GTest/x64/Debug/
x64/Debug/ORM4Qt.dll
x64/Debug/ORM4Qt.exp
x64/Debug/ORM4Qt.ilk
x64/Debug/ORM4Qt.lib
x64/Debug/ORM4Qt.pdb
x64/Debug/gtest.pdb
x64/Debug/gtest_main.pdb
x64/Debug/ORM4Qt_GTest.exe
x64/Debug/ORM4Qt_GTest.exe.gta.testdurations
x64/Debug/ORM4Qt_GTest.ilk
x64/Debug/ORM4Qt_GTest.pdb
x64/Debug/ORM_Model.dll
x64/Debug/ORM_Model.ilk
x64/Debug/ORM_Model.pdb
x64/Debug/ORM_Model.dll
x64/Debug/ORM_Model.ilk
x64/Debug/ORM_Model.pdb
x64/Debug/ORM_MainTestQtConsole.exe
x64/Debug/ORM_MainTestQtConsole.ilk
x64/Debug/ORM_MainTestQtConsole.pdb
